.productdetails{
    display: flex;
    width: 1200px;
    margin: 50px auto;
    box-shadow: 0 0 10px black;
    padding: 20px;
}

.productImagePanel{
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 10px rgb(140, 247, 140);
}

.productContentPanel{
    font-family: 'Times New Roman', Times, serif;
    width: 70%;
    padding: 30px;
    box-shadow: 0 0 10px rgb(140, 247, 140);
}